<nav>
  <ul>
    <li><a href="/">Login</a></li>
    <li><a href="/info">Info</a></li>
    <li><a href="/admin/welcome">Admin Welcome</a></li>
    <li><a href="/admin/user/10">User information</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
